.content {
  text-align: center;
  color: #7a7000;
}

.content > h1 {
  text-shadow: 1px 1px lightgray;
}

.card-overview {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu > select {
  width: 10rem;
  height: 1.5rem;
  border: 0;
  background-color: #7a7000;
  margin: 1rem;
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
}

.menu > label {
  color: black;
}
